<div class="card card-content d-none d-lg-block mb-4" id="categorias">

    <div class="card-header card-header-content py-0 px-0" id="heading-46325">
        <h5 class="mb-0 cat-pai-recursiva">
            <i style="background:none; margin-top:11px" class="fa fa-bars size14 ml-3 mr-1 cup float-left " data-toggle="collapse" data-target="#collapse-46325" aria-expanded="true" aria-controls="collapse-46325"></i>
            <a href="/outros-locais" class=" btn btn-link float-left cinza_escuro text-left px-2 py-2 cup marvel bold size17 ml-2 ">
                Serviços
            </a>
            <div style="clear:both"></div>
        </h5>
    </div>

    <div class="collapse-pai-bg collapse  show" aria-labelledby="heading-46325" data-parent="#accordion-46325">
        <div class="card-body p-0">

            <!--Accordion Nível 2-->
            <div>
                <div class="secao">
                    <span class="tit-left-accordion">
                        <a href="/carros" title="Sydney" class=" size12 categoria_url preto">Locação de carro</a>
                    </span>
                    <div style="clear:both"></div>
                </div>
            </div>
            <!--Accordion Nível 2 Fim-->

            <!--Accordion Nível 2-->
            <div>
                <div class="secao">
                    <span class="tit-left-accordion">
                        <a href="https://www.voupra.com/seguro-viagem" title="Sydney" class=" size12 categoria_url preto ">Seguro Viagem</a>
                    </span>
                    <div style="clear:both"></div>
                </div>
            </div>
            <!--Accordion Nível 2 Fim-->

            <!--Accordion Nível 2-->
            <div>
                <div class="secao">
                    <span class="tit-left-accordion">
                        <a href="https://www.voupra.com/vistos/estados-unidos" title="Sydney" class=" size12 categoria_url preto ">Visto e passaporte</a>
                    </span>
                    <div style="clear:both"></div>
                </div>
            </div>
            <!--Accordion Nível 2 Fim-->
        </div>
    </div>

</div>