<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">


    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div data-bind="html: getDetailsCard()" id="get-details-card"></div>

        


        <form class="form" id ="mestremagentodc-form" method="post">



            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">



                <input type="hidden" value="" name="hash" data-bind="attr: {id: getCode() + '_hash', 'data-container': getCode() + '-_hash'}" >
                <input type="hidden" value="" name="deletehistorycard" data-bind="attr: {id: getCode() + '_deletehistorycard', 'data-container': getCode() + '-_deletehistorycard'}" >


                <div class="field type">
                    <div class="control">
                        <ul class="credit-card-types">
                            <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                            <li class="item" data-bind="css: {
                                                 _active: $parent.selectedCardType() == item.value,
                                                 _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                                 } ">
                                <!--ko if: $parent.getIcons(item.value) -->
                                <img data-bind="attr: {
								'src': $parent.getIcons(item.value).url,
								'alt': item.type,
								'width': $parent.getIcons(item.value).width,
								'height': $parent.getIcons(item.value).height
								}">
                                <!--/ko-->
                            </li>
                            <!--/ko-->
                        </ul>
                        <input type="hidden"
                               name="payment[mestremagentodc]"
                               class="input-text"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
						   value:creditCardType
						   ">
                    </div>
                </div>


                <div class="field name required">
                    <label data-bind="attr: {for: getCode() + '_cpf'}" class="label">
                        <span><!-- ko i18n: 'CPF'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"  maxlength="14" placeholder="CPF" name="mestremagentodc_cpf" class="input-text"  value=""
                               data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_cpf',
												title: $t('Card Holder Name'),
												'data-container': getCode() + '-cpf',
												'data-validate': JSON.stringify({'required':true})}
												textInput : keyword, event: {keyup: mascarJsr}"/>
                    </div>
                </div>


                <div class="field name required">
                    <label data-bind="attr: {for: getCode() + '_fullname'}" class="label">
                        <span><!-- ko i18n: 'Full Name'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="fullname" class="input-text"  value=""
                               data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_fullname',
												title: $t('Card Holder Name'),
												'data-container': getCode() + '-fullname',
												'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>

                <div class="field number required">

                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                        <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="number" name="cc_number" class="input-text" value=""
                               data-bind="attr: {
										autocomplete: off,
										id: getCode() + '_cc_number',
										title: $t('Card Number'),
										'data-container': getCode() + '-cc-number',
										'data-validate': JSON.stringify({'required-number':true, 'validate-card-type2':getCcAvailableTypesValues(), 'validate-card-number2':'#' + getCode() + '_cc_type', 'validate-cc-type2':'#' + getCode() + '_cc_type'})},
								  enable: isActive($parents),
								  value: creditCardNumber,
								  valueUpdate: 'keyup' "/>
                    </div>
                </div>


                <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group group-2">
                            <div class="field no-label month">
                                <div class="control">
                                    <select  name="cc_exp_month"
                                             class="select select-month"
                                             data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
												enable: isActive($parents),
												options: getCcMonthsValues(),
												optionsValue: 'value',
												optionsText: 'month',
												optionsCaption: $t('Month'),
												value: creditCardExpMonth">
                                    </select>
                                </div>
                            </div>
                            <div class="field no-label year">
                                <div class="control">
                                    <select name="cc_exp_year"
                                            class="select select-year"
                                            data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
											   enable: isActive($parents),
											   options: getCcYearsValues(),
											   optionsValue: 'value',
											   optionsText: 'year',
											   optionsCaption: $t('Year'),
											   value: creditCardExpYear">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field cvv required">
                    <label data-bind="attr: {for: getCode() + '_cc_cvv'}" class="label">
                        <span><!-- ko i18n: 'Credit Card CVV'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                        <input type="text" name="cc_cvv" class="input-text" value="" maxlength="4"
                               data-bind="attr: {id: getCode() + '_cc_cid',
											title: $t('Credit Card CVV'),
											'data-container': getCode() + '-cc-cvv',
											'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv2':'#' + getCode() + '_cc_type'})},
											enable: isActive($parents),
											value: creditCardVerificationNumber" />
                        <div class="field-tooltip toggle">
						                <span class="field-tooltip-action action-cvv"
                                              tabindex="0"
                                              data-toggle="dropdown"
                                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
						                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
						                </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                </div>



            </fieldset>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
    <div data-bind="html: getCustomScript()" id="load-custom-script"></div>
</div>


