<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$checkout_session = $objectManager->get('Magento\Checkout\Model\Session');
$order = $checkout_session->getLastRealOrder();

if($order->getPayment()->getAdditionalInformation('fullname')){
    echo '<p>'.__('Card Owner:') .' '.$order->getPayment()->getAdditionalInformation('fullname').'</p>';
}

if($order->getPayment()->getAdditionalInformation('cc_number')){
    echo '<p>'.__('Card Last 4 Digits: ************') .substr($order->getPayment()->getAdditionalInformation('cc_number'), -4).'</p>';
}

if($order->getPayment()->getAdditionalInformation('installments')){
    echo '<p>'.__('Card Installments:') .' '.$order->getPayment()->getAdditionalInformation('installments').'x</p>';
}

if($order->getPayment()->getAdditionalInformation('recurrentPaymentId')){
    echo '<p>'.__('Recurrent PaymentId:') .' '.$order->getPayment()->getAdditionalInformation('recurrentPaymentId').'</p>';
}

if($order->getPayment()->getAdditionalInformation('intervalRecurrency')){
    echo '<p>'.__('Interval Recurrency:') .' '.$order->getPayment()->getAdditionalInformation('intervalRecurrency').'</p>';
}

if($order->getPayment()->getAdditionalInformation('endDateRecurrency')){
    echo '<p>'.__('End Date Recurrency:') .' '.date_format(date_create($order->getPayment()->getAdditionalInformation('endDateRecurrency')),"d/m/Y").'</p>';
}


if($order->getPayment()->getAdditionalInformation('PaymentId')){
    echo '<p>'.__('Id Payment:') .' '.$order->getPayment()->getAdditionalInformation('PaymentId').'</p>';
}

if($order->getPayment()->getAdditionalInformation('TidCielo')){
    echo '<p>'.__('Transaction Identifier:') .' '.$order->getPayment()->getAdditionalInformation('TidCielo').'</p>';
}

if($order->getPayment()->getAdditionalInformation('mm_url_boleto')) {
    echo '<a href="' . $order->getPayment()->getAdditionalInformation('mm_url_boleto') . '"  target="_blank" style="text-decoration: none;background-color: #32aeef;color: #fff;padding: 7px 20px;margin: 10px 0;display: block;width: 100px;text-align: center;border-radius: 5px;" >Gerar Boleto</a>';
}


if($order->getPayment()->getAdditionalInformation('url_autenticacao_cielo_mm')) {
    echo '<a href="' . $order->getPayment()->getAdditionalInformation('url_autenticacao_cielo_mm') . '"  target="_blank" >Clique aqui para validar as informações no seu Banco</a>';
    header(sprintf('Location: %s', $order->getPayment()->getAdditionalInformation('url_autenticacao_cielo_mm') ));
    exit;
}

