<div class="row mb-3">
    <div class="col12 col-md-6 mb-3"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_rodape_1')->toHtml();?></div>
    <div class="col12 col-md-6 mb-3"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_rodape_2')->toHtml();?></div>
</div>
