<div class="col-12 col-md-4 text-white">
    <div class="my-3">
        <div class="footer_subtitulo">Formas de pagamento:</div>
        <div class="footer_img"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_pagamento')->toHtml();?></div>
    </div>
<div class="limpa"></div>
    <div class="my-3">
        <div class="footer_subtitulo">Formas de entrega:</div>
        <div class="footer_img"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_frete')->toHtml();?></div>
    </div>
</div>

<div class="col-12 col-md-4 text-white">
    <div class="footer_subtitulo mt-3 mb-4">Atendimento ao cliente:</div>
        <div><i class="icofont-phone"></i> <a href="tel: 0800 71 23 31">0800 071 23 31</a></div>
        <div><i class="icofont-phone"></i> <a href="tel: 071 3341 9312">71 3341 9312</a></div>
        <div><i class="icofont-send-mail"></i> <a href="mailto:cepeodireto@cepeo.com.br">cepeodireto@cepeo.com.br</a></div>
        <div>
            <address><i class="icofont-pin"></i> Rua Coronel Almerindo Rehem, 82 - Caminho Árvores - Salvador, BA - CEP: 41820-768
            <a href="https://www.google.com/maps/place/R.+Cel.+Almerindo+Rehem,+82+-+Caminho+das+%C3%81rvores,+Salvador+-+BA,+41820-768/@-12.9804461,-38.4578534,17z/data=!3m1!4b1!4m5!3m4!1s0x7161b1b03da178f:0x31910cbc0f88b09d!8m2!3d-12.9804461!4d-38.4556647">
                | <i class="icofont-map-pins"></i>
                 Veja no mapa.
            </a>
            </address>
        </div>
</div>