<!--FOOTER RESPONSIVO-->
<footer class="bg_azul branco">

    <div class="w100 bg_azul_claro borda_salmao mt-3 d-none d-lg-block">
        <div class="container">
            <div class="row size18">
                <div class="col-6 col-sm-3 p-2"><i class="fa fa-clock-o"></i> Atendimento Rápido</div>
                <div class="col-6 col-sm-3 p-2"><i class="fa fa-dollar"></i> Negociação Especial</div>
                <div class="col-6 col-sm-3 p-2"><i class="fa fa-star-o"></i> Alta Credibilidade</div>
                <div class="col-6 col-sm-3 p-2"><i class="fa fa-group"></i> Muitas Referências</div>
            </div>
        </div>
    </div>

    <div class="w100 bg_azul">
        <div class="container margin-selos-mob">

            <!--HOME-RODAPE-100 [570x222px]-->
            <div class="d-none d-lg-block">
                <div class="row pt-4">

                    <!-- EXIBIR NO DESKTOP -->
                    <div class="col-12 col-sm-6 mb-2">
                        <a href="https://www.voupra.com/conteudo/info/4240/555/prazos">
                            <img class="img-fluid" src="https://shopblob.blob.core.windows.net/1321-banner/Banner_entrega_rodape_moldura.jpg" alt="" title="" />
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 mb-2">
                        <a href="https://www.voupra.com/seguro-viagem">
                            <img class="img-fluid" src="https://shopblob.blob.core.windows.net/1321-banner/Banner_SV_rodape(2-1).jpg" alt="" title="" />
                        </a>
                    </div>

                </div>
            </div>
            <!--HOME-RODAPE-100 [570x222px] FIM-->

            <div class="row d-block d-lg-none mt-3 px-3 text-center">
                <a class="d-block" href="https://www.voupra.com/conteudo/info/4240/555/prazos">
                    <img src="https://shopblob.blob.core.windows.net/1321-tema/ENTREGA-EXPRESSA-MOB.jpg" class="img-fluid rounded"/>
                </a>
            </div>

            <div class="row rounded bg_branco mt-4 mb-4 py10 no-gutters d-flex align-items-center">
                <div class="col-4 col-sm-2 align-middle text-center logo_footer">
                    <a href="https://www.voupra.com/">
                        <img src="https://shopblob.blob.core.windows.net/1321-tema/logo_footer.jpg" class="img-fluid" alt="Voupra.com">
                    </a>
                </div>

                <div class="col-4 col-sm-2 align-middle text-center">
                    <div class="size12 cinza_escuro mb-2">
                        <span><p>SEGURANÇA E CERTIFICAÇÃO</p></span>
                        <div id="armored_website_02">
                            <param id="aw_preload" value="true" />
                            <param id="aw_use_cdn" value="true" />
                        </div>
                        <!--script type="text/javascript" src="//cdn.siteblindado.com/aw.js"></script-->

                    </div>
                </div>

                <div class="col-4 col-sm-2 align-middle text-center">
                    <img src="https://shopblob.blob.core.windows.net/1321-tema/ssl.png" class="img-fluid" alt="Voupra.com">
                </div>

                <div class="col-4 col-sm-2 align-middle text-center">
                    <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html#url=http://www.voupra.com/" target="_blank">
                        <img src="https://shopblob.blob.core.windows.net/1321-tema/selogoogle.png" class="img-fluid" alt="Voupra.com">
                    </a>
                </div>

                <div class="col-4 col-sm-2 align-middle text-center">
                    <img src="https://shopblob.blob.core.windows.net/1321-tema/internetsegura.png" class="img-fluid" alt="Voupra.com">
                </div>

                <div class="col-4 col-sm-2 align-middle text-center">
                    <img src="https://shopblob.blob.core.windows.net/1321-tema/lojasegura.png" class="img-fluid" alt="Voupra.com">
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-lg-6 text-center text-lg-left  marvel mt-2 mb-5">
                    Copyright © Voupra.com - Todos os direitos reservados.<br/>
                    VP Viagens e Turismo LTDA - 24.991.185/0001-01<br/>
                    Av. Paulista, 1079, Conj 22, São Paulo/SP.
                </div>

                <div class="col-12 col-lg-6 text-center text-lg-right mb-4 mb-lg-0">
                    <a href="https://www.optur.com.br" target="_blank" class="d-block mt-2 mb-4">
                        <img src="https://shopblob.blob.core.windows.net/1321-tema/powered_optur.png" class="img-fluid" alt="Optur.com">
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--FOOTER RESPONSIVO M2 FIM -->