.config-nav-block.mestre-magento-tab strong:before {
    background: url(../images/logo.png) no-repeat;
    width: 30px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}
#mestremagento_store {
    border: 0;
    height: 1500px;
}