@media screen and (min-width: 768px) {
    /*INICIO DESKTOP backup bf*/

    .nav-sections {
        background: #000 !important;
    }

    .navigation {
        background: #000 !important;
        font-weight: normal;
        text-align: center;
    }

    .navigation .level0 > .level-top {
        color: #FFF !important;
        text-transform: uppercase !important;
        font-size: 14px;
    }

    .page-header .panel.wrapper {
        background-color: #000 !important;
        color: #ffffff;
    }

    .super_banner{
        margin-top: -25px;
        background: #000;
    }

    #store.menu{
        background: #000 !important;
    }
/* FIM DESKTOP */
}

