body{
    font-size: 14px;
}

/* Funcoes */
.cup{cursor: pointer;}
.limpa{display: block; clear: both; width: 100% !important;}
.bold{font-weight: bold;}
.link_less{text-decoration: none; color: #000;}
.link_less:hover{text-decoration: none;}
.b-radius{border-radius: 5px;}


/*Aplicar nas linhas (rows), para remover o padding das colunas.*/
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col, > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}



/*Cores*/
.preto {color:#151515;}
.preto2 {color:#1e1e1e!important;}
.azul{color: #183A60 !important;}
.azul2{color:#004b74!important;}
.azul_2{color: #014975 !important;}
.azul_claro{color: #195c89;}
.azul_claro2 {color: #527487;}
.azul_light{color: #11b4b7;}
.azul_home{color: #305ad4;}
.azul-escuro2 {color:#2a57ac;}
.azul_padrao{color: #00ace3 !important;}

.salmao{color: #FA8571!important;}
.salmao2 {color: #ff6054!important;}
.cinza{color: #f4f4f4;}
.cinza_claro{color: #f8f8f8;}
.cinza_escuro{color: #7f7f7f;}
.cinza_escuro2{color: #393737}
.cinza_escuro3{color: #454545}
.branco{color: #ffffff !important;}
.verde{color: #61812e;}
.vermelho {color: #b40000;}
.vermelho2 {color:#851011;}
.vermelho3 {color:#d9534f;}
.amarelo { color: #f27b03;}

.bg_branco{background-color: #ffffff;}
.bg_cinza{background-color: #f4f4f4;}
.bg_cinza_claro{background-color: #f8f8f8;}
.bg_azul{background-color: #183A60 !important;}
.bg_azul_claro{background-color: #195c89 !important;}
.bg_azul_2{background-color: #00469e !important;}
.bg_azul_light{background-color: #11b4b7 !important;}
.bg_azul_escuro2 {
    background:#2a57ac;
}
.bg_salmao{background-color: #FA8571 !important;}
.bg_verde { background-color:#00a42f;}

.bg-rosa2 {background: #faf3eb;}
.bg-rosa3 {background: #f9e9ea;}

.borda-rosa3{border: 2px solid #ecc4c4;}

.bg-amarelo2 {
    background: #F37B01;
}

.bg-vermelho {
    background: #db0000;
}

/*Tamanhos*/
.size08{font-size: 08px;}
.size09{font-size: 09px;}
.size10{font-size: 10px;}
.size11{font-size: 11px;}
.size12{font-size: 12px!important;}
.size13{font-size: 13px;}
.size14{font-size: 14px;}
.size15{font-size: 15px;}
.size16{font-size: 16px;}
.size17{font-size: 17px;}
.size18{font-size: 18px!important;}
.size19{font-size: 19px;}
.size20{font-size: 20px;}
.size21{font-size: 21px;}
.size22{font-size: 22px;}
.size23{font-size: 23px;}
.size24{font-size: 24px;}
.size25{font-size: 25px;}
.size26{font-size: 26px;}
.size27{font-size: 27px;}
.size28{font-size: 28px;}
.size29{font-size: 29px;}
.size30{font-size: 30px;}
.size36{font-size: 36px;}
.size70{font-size: 70px;}

@media (min-width: 576px){

    .size-sm-10{font-size: 10px;}
    .size-sm-11{font-size: 11px;}
    .size-sm-12{font-size: 12px;}
    .size-sm-13{font-size: 13px;}
    .size-sm-14{font-size: 14px;}
    .size-sm-15{font-size: 15px;}
    .size-sm-16{font-size: 16px;}
    .size-sm-17{font-size: 17.4px;}
    .size-sm-18{font-size: 18px;}
    .size-sm-19{font-size: 19px;}
    .size-sm-20{font-size: 20px;}
    .size-sm-21{font-size: 21px;}
    .size-sm-22{font-size: 22px;}
    .size-sm-23{font-size: 23px;}
    .size-sm-24{font-size: 24px;}
    .size-sm-25{font-size: 25px;}
    .size-sm-26{font-size: 26px;}
    .size-sm-27{font-size: 27px;}
    .size-sm-28{font-size: 28px;}
    .size-sm-29{font-size: 29px;}
    .size-sm-30{font-size: 30px;}
    .size-sm-31{font-size: 31px;}
    .size-sm-32{font-size: 32px;}
    .size-sm-33{font-size: 33px;}
    .size-sm-34{font-size: 34px;}
    .size-sm-35{font-size: 35px;}
    .size-sm-36{font-size: 36px;}
}

@media (min-width: 768px){
    .size-md-08{font-size: 08px;}
    .size-md-09{font-size: 09px;}
    .size-md-10{font-size: 10px;}
    .size-md-11{font-size: 11px;}
    .size-md-12{font-size: 12px;}
    .size-md-13{font-size: 13px;}
    .size-md-14{font-size: 14px;}
    .size-md-15{font-size: 15px;}
    .size-md-16{font-size: 16px;}
    .size-md-17{font-size: 17px;}
    .size-md-18{font-size: 18px;}
    .size-md-19{font-size: 19px;}
    .size-md-20{font-size: 20px;}
    .size-md-21{font-size: 21px;}
    .size-md-22{font-size: 22px;}
    .size-md-23{font-size: 23px;}
    .size-md-24{font-size: 24px;}
    .size-md-25{font-size: 25px;}
    .size-md-26{font-size: 26px;}
    .size-md-27{font-size: 27px;}
    .size-md-28{font-size: 28px;}
    .size-md-29{font-size: 29px;}
    .size-md-30{font-size: 30px;}
    .size-md-36{font-size: 36px;}
    .size-md-70{font-size: 70px;}
}


@media (min-width: 992px){
    .size-lg-08{font-size: 08px;}
    .size-lg-09{font-size: 09px;}
    .size-lg-10{font-size: 10px;}
    .size-lg-11{font-size: 11px;}
    .size-lg-12{font-size: 12px;}
    .size-lg-13{font-size: 13px;}
    .size-lg-14{font-size: 14px;}
    .size-lg-15{font-size: 15px !important;}
    .size-lg-16{font-size: 16px;}
    .size-lg-17{font-size: 17px;}
    .size-lg-18{font-size: 18px !important;}
    .size-lg-19{font-size: 19px;}
    .size-lg-20{font-size: 20px;}
    .size-lg-21{font-size: 21px;}
    .size-lg-22{font-size: 22px;}
    .size-lg-23{font-size: 23px;}
    .size-lg-24{font-size: 24px;}
    .size-lg-25{font-size: 25px;}
    .size-lg-26{font-size: 26px;}
    .size-lg-27{font-size: 27px;}
    .size-lg-28{font-size: 28px;}
    .size-lg-29{font-size: 29px;}
    .size-lg-30{font-size: 30px;}
    .size-lg-31{font-size: 31px;}
    .size-lg-36{font-size: 36px;}
    .size-lg-70{font-size: 70px;}
}

@media (min-width: 1200px) {
    .size-xl-08{font-size: 08px;}
    .size-xl-09{font-size: 09px;}
    .size-xl-10{font-size: 10px;}
    .size-xl-11{font-size: 11px;}
    .size-xl-12{font-size: 12px;}
    .size-xl-13{font-size: 13px;}
    .size-xl-14{font-size: 14px;}
    .size-xl-15{font-size: 15px;}
    .size-xl-16{font-size: 16px;}
    .size-xl-17{font-size: 17px;}
    .size-xl-18{font-size: 18px !important;}
    .size-xl-19{font-size: 19px;}
    .size-xl-20{font-size: 20px;}
    .size-xl-21{font-size: 21px;}
    .size-xl-22{font-size: 22px;}
    .size-xl-23{font-size: 23px;}
    .size-xl-24{font-size: 24px;}
    .size-xl-25{font-size: 25px;}
    .size-xl-26{font-size: 26px;}
    .size-xl-27{font-size: 27px;}
    .size-xl-28{font-size: 28px;}
    .size-xl-29{font-size: 29px;}
    .size-xl-30{font-size: 30px;}
    .size-xl-36{font-size: 36px;}
    .size-xl-70{font-size: 70px;}
}


/*bordas*/
.border_b{border-bottom: 1px solid #ccc}

.borda_verde {
    border: 1px solid #d1edd4;
}

.borda_amarela {
    border:1px solid #efdac5;
}

.borda_azul {
    border:1px solid #183A60;
}

.borda_branca {
    border:1px solid #fff;
}

.borda_branca2 {
    border:2px solid #fff;
}

.botao_cart_topo {
    background-image: linear-gradient(to right, #ff663e, #ffbe45);
    display: block;
    min-height: 31px;
}

.botao_cart_topo_texto{
    vertical-align: top;
    display: inline-block;
    margin: 5px 0 0 0;
}

.minicart-wrapper .action.showcart:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 28px;
    color: #fff !important;
    content: '\e611';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.minicart-wrapper .action.showcart:active:before {
    color: #FFFFFF;
}

.minicart-wrapper .action.showcart:hover:before {
    color: #FFFFFF;
}

.footer_style{
    /*border-top: 8px solid #00a7db;*/
    background: #000 !important;
}

.footer_style a {
    color: #FFF !important;
}

.footer_subtitulo{
    color: #77dfff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer_img img{
    float: left;
    margin-right: 5px;
}

.footer.content ul > nav{
    list-style: disc !important;
}
.copyright {
    background-color: #000 !important;
}

.block-title{
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: #fafafa;
    padding: 11px 3px;
    color: #6c6b6b;
}

.carousel-caption {
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-indicators {
    bottom: -20px;
}
