<?php


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $order = $objectManager->create('\Magento\Sales\Model\Order')->load($this->getRequest()->getParam('order_id'));

 if($order->getPayment()->getAdditionalInformation('mm_url_boleto')) {
    echo '<a href="' . $order->getPayment()->getAdditionalInformation('mm_url_boleto') . '"  target="_blank" >Gerar Boleto</a>';
 }

if($order->getPayment()->getAdditionalInformation('PaymentId')){
        echo '<p>'.__('Id Payment:') .' '.$order->getPayment()->getAdditionalInformation('PaymentId').'</p>';
}

if($order->getPayment()->getAdditionalInformation('TidCielo')){
        echo '<p>'.__('Transaction Identifier:') .' '.$order->getPayment()->getAdditionalInformation('TidCielo').'</p>';
}

if($order->getPayment()->getAdditionalInformation('installments')){
        echo '<p>'.__('Card Installments:') .' '.$order->getPayment()->getAdditionalInformation('installments').'x</p>';
}

if($order->getPayment()->getAdditionalInformation('recurrentPaymentId')){
    echo '<p>'.__('Recurrent PaymentId:') .' '.$order->getPayment()->getAdditionalInformation('recurrentPaymentId').'</p>';
}

if($order->getPayment()->getAdditionalInformation('intervalRecurrency')){
    echo '<p>'.__('Interval Recurrency:') .' '.$order->getPayment()->getAdditionalInformation('intervalRecurrency').'</p>';
}

if($order->getPayment()->getAdditionalInformation('endDateRecurrency')){
    echo '<p>'.__('End Date Recurrency:') .' '.date_format(date_create($order->getPayment()->getAdditionalInformation('endDateRecurrency')),"d/m/Y").'</p>';
}

