<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cart = $objectManager->get('\Magento\Checkout\Model\Session');
$itemsVisible = $cart->getQuote()->getAllItems();
$storeScope = \Magento\Store\Model\ScopeInterface::SCOPE_STORES;
$scopeConfig = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');

$recurrentpayment = 0;
if($scopeConfig->getValue("payment/mestremagentocc/recurrent", $storeScope)) {
    if ($scopeConfig->getValue("payment/mestremagentocc/recurrent_disabled_method", $storeScope)) {
        foreach ($itemsVisible as $item) {
            if ($item->getData('product_type') == 'simple') {
                $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId());
                if ($_product->getAttributeText('recurrentpayment')) {
                    $recurrentpayment = 1;
                }
            }
        }
        if ($recurrentpayment) {
            echo '<style>div#checkout-payment-method-load .payment-method {display: none;}div#checkout-payment-method-load .payment-method.mm-disable-all-methods {display: block;}</style>';
        }
    }
    echo '<style>form#mestremagentocc-form .field.instament.required {display: none;}</style>';
}
?>

<script>
    var recurrentpayment = "<?=$recurrentpayment?>";
    require(['jquery', 'jquery/ui'], function($){
        $( document ).ready(function() {
            var existCondition = setInterval(function() {
                if ($('#mestremagentocc-form').length) {
                    clearInterval(existCondition);
                    new Card({
                        form: document.querySelector('#card-view-cielo'),
                        container: '.card-wrapper'
                    });
                    if(recurrentpayment){
                        $("input#mestremagentocc").trigger('click');
                    }
                    $("input#mestremagentocc_cc_number").attr("placeholder","<?=__('Credit Card Number')?>");
                    $("input#mestremagentocc_fullname").attr("placeholder","<?=__('Full Name')?>");
                }
            }, 100);

        });
    });
</script>
